.link-details-container {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 54px;
}

.page-title {
  font-size: 28px;
  margin-bottom: 2rem;
}

.link-details-grid {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  flex-wrap: wrap;
}

/* LEFT */
.left-content {
  flex: 1;
  min-width: 300px;
}

.short-url-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d800f7;
  font-size: 1rem;
  color: white;
  margin-bottom: 1.5rem;
}

.short-url-box a {
  color: white;
  text-decoration: none;
  flex: 1;
  word-break: break-word;
  padding: 20px 30px;
}
.full-url,
.timestamp {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}

.full-url span,
.timestamp span {
  font-size: 20px;
  font-weight: 500;
}

.copy-btn-box {
  background-color: black;
  padding: 20px 30px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.copy-btn-box img {
  width: 20px;
  height: 20px;
}

.full-url {
  margin-bottom: 8px;
  color: #333;
  font-size: 0.95rem;
  word-break: break-word;
}

.timestamp {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1.2rem;
}

.qr-img {
  width: 300px;
  height: 300px;
  border: 4px solid #2c3e50;
  margin: 2rem 0rem;
}

.qr-actions {
  margin-top: 10px;
  display: flex;
  gap: 2rem;
}

.qr-actions button {
  margin: 0 6px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-style {
  background: #000;
  color: white;
  padding: 20px;
  border: none;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.copy-btn {
  padding: 20px;
}
.download-btn {
  background-color: #d800f7;
}

/* RIGHT */
.right-content {
  flex: 1;
  min-width: 300px;
}

.total-clicks {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 16px;
  background: #f5f5f5;
  color: #2c3e50;
}
.total-clicks p {
  margin-top: 5px;
  color: #d800f7;
}
.chart-box {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.chart-box h4 {
  font-size: 20px;
  padding: 2rem 1.5rem 0rem 1.5rem;
}
.pie-chart {
  max-width: 300px;
  padding: 20px;
  align-self: center;
}
.chart-box canvas {
  width: 100% !important;
  height: auto !important;
}

.chart-box h4 {
  margin-bottom: 0.6rem;
  font-size: 16px;
  color: #2c3e50;
}

/* Responsive */
@media (max-width: 1200px) {
  .link-details-grid {
    flex-direction: column;
  }
  .page-title {
    padding-left: 50px;
  }
  .left-content,
  .right-content {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 868px) {
  .page-title {
    padding-left: 30px;
  }
  .left-content,
  .right-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .full-url span,
  .timestamp span {
    font-weight: 500;
    font-size: 15px;
  }
  .copy-btn-box {
    padding: 40px 30px;
  }
}
